.main-sidebar{
 
      height: 521px;
    width: 230px;
    z-index: 810;

}
.two{
    float: left;
}
.sidebar-menu{
    list-style: none;
    margin: 0;
    padding: 0;
 
}
.sidebar-menu > li{
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    border-left: 3px solid transparent;
   
}
.sidebar-menu > li > a > .fa{
    width: 20px;
}
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {

    background: #43c8ff;
    border-left-color: #3c8dbc;
}
.sidebar-menu > li > .treeview-menu {
    margin: 0 1px;

}
.sidebar-menu > li .label,.sidebar-menu > li .badge {
    margin-top: 2px;
    margin-right: 5px;
}
.sidebar-menu li.header {
    padding: 10px 26px 10px 15px;
    font-size: 18px;
    text-align: center;
   


}
.sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
}
.sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg);
}
.sidebar-menu li.active > .treeview-menu {
    display: block;
}
.sidebar-menu a {
  
    text-decoration: none;
}
.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}
.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px;
}
.sidebar-menu .treeview-menu > li {
    margin: 0;
}
.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
    
}
.sidebar-menu .treeview-menu > li > a > .fa {
    width: 20px;
}
.sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {

    text-decoration: none;
}
